/*******************************************/
/* Layout
/*******************************************/
.section_day .task_item_details {
  padding: 7px 0;
}
.section_day .text.sel_item_content {
  display: flex;
}
.section_day .task_item_details_bottom {
  order: 1;
}
/* タスク名 */
.section_day .task_item_content_text {
  order: 2;
}

/*******************************************/
/* Hidden
/*******************************************/

/* 繰り返しマークの非表示 */
.section_day .date.date_today {
  display: none;
}
/* コメント 非表示 */
.section_day .task_item_details_bottom .note_icon {
  display: none !important;
}
/* 関係ないラベルの非表示 */
.section_day
  .task_item_details_bottom
  > a:not([onclick*="分"]):not([onclick*="時間"]):not([onclick*="不明"]) {
  display: none;
}

/*******************************************/
/* label
/*******************************************/
.section_day .task_item_details_bottom {
  margin-top: 0 !important;
  min-width: max-content;
}
/* ラベル 幅統一 */
.section_day .label {
  min-width: 25px;
  text-align: center;
}
/* ラベル 装飾 (工数) */
.section_day .task_item_details_bottom > a[onclick*="分"],
.section_day .task_item_details_bottom > a[onclick*="時間"],
.section_day .task_item_details_bottom > a[onclick*="不明"] {
  font-size: 75%;
  opacity: 0.75;
  border-radius: 5px;
  border-style: outset;
  border-width: 1px;
  padding: 1px 5px 1px 5px;
  margin-right: 5px !important;
}

/*******************************************/
/* time-divider
/*******************************************/
.section_day .time-divider {
  font-weight: bold;
  margin: 18px 0 6px !important;
}

.section_day .time-divider.task_item_details {
  border-bottom: 2px dotted rgba(0, 0, 0, 0.3);
}

/* Checkboxの透明度アップ */
.section_day .time-divider .sel_checkbox_td {
  opacity: 0.2;
}

/* プロジェクト名とhoverアクションの非表示 */
.section_day .time-divider + .task_item_actions {
  display: none;
}

/* タスク名の中央寄せ */
.section_day .time-divider .content.task_content_item {
  padding-right: 72px;
}
.section_day .time-divider .text.sel_item_content {
  justify-content: center;
}
